@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  border-bottom: .2px solid gray;
  position: sticky;
  top: 0;
  position:-webkit-sticky;
  backdrop-filter: blur(45px);
}

.input{
  border: .5px solid gray;
  border-radius: 10px;  
  padding: 5px 10px;
  margin: 5px 0px;
  height: 45px;
  flex: auto;
  justify-content: start;
}

.input:focus {
  outline:none;
}

.input:hover {
  border: 1.5px solid blue;
}

.login {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px 0px;
  height: 45px;
  width: 100px;
  cursor: pointer;  
}

.login:hover { 
  border:2px solid blue;
}
.Table {
  border-bottom: 1px solid gray;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px 0px;
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}

.table-{
  border-bottom: 1px solid gray;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px 0px;
}

@media screen and (max-width: 600px) {
  .input {
    width: 70%;
    display: flex;
    justify-items: center;
    justify-self: center;
  }

  .navbar {
    padding: 2px 5px;
  }

  .navbrand {
    display: none;
  }
  
  input.elegant-input {
    max-width: 100px;
    display: flex;
    justify-items: center;
    justify-self: center;
    margin:2px;
  }

  textarea{
    width: 200px;
  }
}

input.elegant-input {
  border: none;
  outline: none;
  margin: 5px;
  max-width: 200px;
  max-height: 45px;
  color:#0a0a0a;
  border-radius: 15px;
  padding: 1em;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
}

input.elegant-input:focus {
  background-color:gainsboro;
  transform: scale(1.05);
  box-shadow:inset 1px 1px 4px #969696,
              inset -1px -1px 4px #307750;
}


input.minimal-input {
  border: none;
  outline: none;
  background:none;
  color: #fff;
  border-radius: 200px;
  padding: 10px 20px;
  max-width: 200px;
  box-shadow: inset 2px 5px 10px white;
}

.elegant-link {
  text-decoration: none;
  color: #307750;
  font-size: 1.2em;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 10px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 5px;
  max-width: 100px;
  max-height: 45px;
  background-color: #fff;
  box-shadow: 4px 8px 10px -3px rgba(0, 0, 0, 0.356);
  z-index: 1;
}

.elegant-link:hover {
  background-color: #307750;
  color: red;
}

button.elegant-button {
  display: flex;
  position: relative;
  cursor: pointer;
  max-width: 100px;
  max-height: 45px;
  justify-content: center;
  align-items: center;
  background-color: #307750;
  color: #fff;
  border-style: none;
  padding: 1em 2em;
  border-radius: 0.5em;
  overflow: hidden;
  z-index: 1;
  box-shadow: 4px 8px 10px -3px rgba(0, 0, 0, 0.356);
  transition: all 250ms;
}

button.elegant-button::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  border-radius: 0.5em;
  background-color: #469b61;
  z-index: -1;
  transition: all 350ms;
}
button.elegant-button:hover::before {
  width: 100%;
}

/* From Uiverse.io by JaydipPrajapati1910 */ 
button.button-logout {
  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(255,0,0);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: rgb(255,0,0);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

button.button-logout span {
  margin: 10px;
}

button.button-logout::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

button.button-logout:hover {
  color: #fff;
  border: 1px solid rgb(255,0,0);
}

button.button-logout:hover::before {
  box-shadow: inset 0 0 0 10em rgb(255, 0, 0);
}

button.button-login {
  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #469b61;
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: #307750;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

button.button-login span {
  margin: 10px;
}

button.button-login::before {
  position: absolute;
  flex: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

button.button-login:hover {
  color: #fff;
  border: 1px solid #307750;
}

button.button-login:hover::before {
  box-shadow: inset 0 0 0 10em #307750;
}


/* From Uiverse.io by satyamchaudharydev */ 
.spinner {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: -75px;
}

.spinner span {
  position: absolute;
  top: 50%;
  left: var(--left);
  width: 35px;
  height: 7px;
  background: #ffff;
  animation: dominos 1s ease infinite;
  box-shadow: 2px 2px 3px 0px black;
}

.spinner span:nth-child(1) {
  --left: 80px;
  animation-delay: 0.125s;
}

.spinner span:nth-child(2) {
  --left: 70px;
  animation-delay: 0.3s;
}

.spinner span:nth-child(3) {
  left: 60px;
  animation-delay: 0.425s;
}

.spinner span:nth-child(4) {
  animation-delay: 0.54s;
  left: 50px;
}

.spinner span:nth-child(5) {
  animation-delay: 0.665s;
  left: 40px;
}

.spinner span:nth-child(6) {
  animation-delay: 0.79s;
  left: 30px;
}

.spinner span:nth-child(7) {
  animation-delay: 0.915s;
  left: 20px;
}

.spinner span:nth-child(8) {
  left: 10px;
}

@keyframes dominos {
  50% {
    opacity: 0.7;
  }

  75% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  80% {
    opacity: 1;
  }
}

.card {
  max-width: 250px;
  max-height: fit-content;
  border-radius: 10px;
  background-color: gray;
  box-shadow: 0px 4px 6px -1px rgba(0,0,0.1),
              0 2px 4px -2px rgba(0,0,0,.1)
}


.btn-53,
.btn-53 *,
.btn-53 :after,
.btn-53 :before,
.btn-53:after,
.btn-53:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-53 {
  -webkit-tap-highlight-color: transparent;
  background-color: red;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin-bottom: 4px;
  padding: 0;
}

.btn-53:disabled {
  cursor: default;
}

.btn-53:-moz-focusring {
  outline: auto;
}

.btn-53 svg {
  display: flex;
  vertical-align: middle;
}

.btn-53 [hidden] {
  display: none;
}

.btn-53 {
  width: 45px;
  height: 45px;
  border: 1px solid;
  border-radius: 999px;
  box-sizing: border-box;
  display: flex;
  justify-items: center;
  font-weight: 900;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
}

.btn-53 .original {
  width: auto;
  height: 45px;
  background: #fff;
  color: #000;
  display: flex;
  inset: 0;
  position:absolute;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}

.btn-53:hover .original {
  transform: translateY(100%);
}

.btn-53 .letters {
  display: inline-flex;
}

.btn-53 span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.btn-53 span:nth-child(2n) {
  transform: translateY(15px);
}

.btn-53:hover span {
  opacity: 1;
  transform: translateY(0);
}

.btn-53:hover span:nth-child(2) {
  transition-delay: 0.1s;
}

.btn-53:hover span:nth-child(3) {
  transition-delay: 0.2s;
}

.btn-53:hover span:nth-child(4) {
  transition-delay: 0.3s;
}

.btn-53:hover span:nth-child(5) {
  transition-delay: 0.4s;
}

.btn-53:hover span:nth-child(6) {
  transition-delay: 0.5s;
}


.card {
  width: 190px;
  height: 254px;
  margin: 15px;
  padding: 2px 4px;
  border-radius: 10px;
  background: lightgrey;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
}

.new-button {
  background-color: #e0e0e0;
  border-radius: 12px;
  box-shadow: inset 4px 4px 10px #bcbcbc,
              inset -4px -4px 10px #ffffff;
  cursor: pointer;
  border: 1px solid rgb(206, 206, 206);
  color: #707070;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-self: end;
  padding: 4px 8px;
  text-align: center;
}

.new-button:hover {
  border: 2px solid #307750;
  box-shadow: inset 2px 2px 4px #307750,
              inset -2px -2px 4px #469b61;
  color: #307750;
}

.neu-button {
  background-color: #e0e0e0;
  border-radius: 12px;
  box-shadow: inset 4px 4px 10px #bcbcbc,
              inset -4px -4px 10px #ffffff;
  cursor: pointer;
  border: 2px solid rgb(206, 206, 206);
  color: #707070;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-self: end;
  padding: 4px 8px;
  text-align: center;
}

.neu-button:hover {
  box-shadow: inset 2px 2px 5px #bcbcbc,
              inset -2px -2px 5px #ffffff,
              2px 2px 5px #bcbcbc,
              -2px -2px 5px #ffffff;
}

.neu-button:focus {
  outline: none;
  box-shadow: inset 2px 2px 5px #bcbcbc,
              inset -2px -2px 5px #ffffff,
              2px 2px 5px #bcbcbc,
              -2px -2px 5px #ffffff;
}

.card-student {
  max-width: max-content;
  border-radius: 10px;
  background-color: #707070;  
  padding:4px 8px;
 }

 textarea {
  border: none;
  outline: none;
  margin: 5px;
  width: 400px;
  max-height: 80px;
  color:#0a0a0a;
  border-radius: 15px;
  padding: 1em;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
}