@import "tailwindcss";

:root {
  --background: #f1f5f2;
  --foreground: #000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F1F5F2;
    --foreground: #000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  margin: 2px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  gap: auto;
  align-items: center;
  max-height: 60px;
  border-radius: 16px;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 4px rgba(0,0,0,0.3);            
  position: sticky;
  top: 0;
  position:-webkit-sticky;
  backdrop-filter: blur(45px);
}

.navbrand {
  padding: 10px;
  align-items: center;
}

.links {
  grid-auto-rows: auto;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.link {
  border-radius: 10px;
  padding: 4px 10px;
  row-gap: 10px;
  margin:auto;
  cursor: pointer;
  text-align: center;
  align-items: center;
  display: flex;
  background-color: #F2F5F6;
}

.link_text {
  border-radius: 14px;
  font-size: 16px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

.link_text:hover {
  color: #181818;
}

.link_text:active {
  color: #181818;
  font-size: 12px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

.input{
  border: .5px solid gray;
  border-radius: 20px;  
  padding: 4px 10px;
  margin: 5px 0px;
  height: 45px;
  width: 250px;
  flex: auto; 
  background-color: #F1F5F4;
}

.input:focus {
  outline:none;
}

.input:hover {
  border: 1.5px solid green;
}

.login {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px 0px;
  height: 45px;
  width: 100px;
  cursor: pointer;  
}

.login:hover { 
  border:2px solid blue;
}
.Table {
  border-bottom: 1px solid gray;
  padding: 2px 4px;
  margin: 5px 0px;
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}

.table-{
  border-bottom: 1px solid gray; 
  padding: 2px 4px;
  margin: 5px 0px;
}

@media screen and (max-width: 600px) {
  .input {
    width: 90%;
    display: flex;
    justify-self: center;
  }

  .navbar {
    width: "95%";
    margin: 2px;
    padding: 2px;
    border-radius: 18px;
  }

  .links {
    gap: 10px;
  }

  .link {
    gap: 2;
    padding: 1px 3px;
  }

  .navbrand {
    width: 35px;
    height: 35px;
    padding: 3px;
    align-items: center;
  }
  
  input.elegant-input {
    max-width: 100px;
    display: flex;
    justify-items: center;
    justify-self: center;
    margin:2px;
  }

  textarea{
    width: 200px;
  }

  .units_card {
    width: "90%";
  }
}

input.elegant-input {
  border: none;
  outline: none;
  margin: 5px;
  max-width: 200px;
  max-height: 45px;
  color:#0a0a0a;
  border-radius: 15px;
  padding: 1em;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
}

input.elegant-input:focus {
  background-color:gainsboro;
  transform: scale(1.05);
  box-shadow:inset 1px 1px 4px #969696,
              inset -1px -1px 4px #307750;
}


input.minimal-input {
  border: none;
  outline: none;
  background:none;
  color: #fff;
  border-radius: 200px;
  padding: 10px 20px;
  max-width: 200px;
  box-shadow: inset 2px 5px 10px white;
}

.elegant-link {
  text-decoration: none;
  color: #307750;
  font-size: 1.2em;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 10px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 5px;
  max-width: 100px;
  max-height: 45px;
  background-color: #F1F5F4;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.556);
  z-index: 1;
}

.elegant-link:hover {
  background-color: #307750;
  color: red;
}

button.elegant-button {
  display: flex;
  position: relative;
  cursor: pointer;
  max-width: 100px;
  max-height: 40px;
  justify-content: center;
  align-items: center;
  background-color: #307750;
  color: #fff;
  border-style: none;
  padding: 1em 2em;
  border-radius: 0.5em;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.356);
  transition: all 250ms;
}

button.elegant-button::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  border-radius: 0.5em;
  background-color: #469b61;
  z-index: -1;
  transition: all 350ms;
}
button.elegant-button:hover::before {
  width: 100%;
}

/* From Uiverse.io by JaydipPrajapati1910 */ 
button.button-logout {
  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(255,0,0);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: rgb(255,0,0);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

button.button-logout span {
  margin: 10px;
}

button.button-logout::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

button.button-logout:hover {
  color: #fff;
  background-color: rgb(255,0,0);
  border: 1px solid rgb(255,0,0);
}

button.button-logout:hover::before {
  box-shadow: inset 0 0 0 10em rgb(255, 0, 0);
}

button.button-login {
  background: transparent;
  position: relative;
  padding: 5px;
  width: 100px;
  height: 40px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: .8px solid #469b61;
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: #469b61;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

button.button-login span {
  margin: 10px;
}

button.button-login::before {
  position: absolute;
  flex: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

button.button-login:hover {
  border: 1.5px solid #307750;
}

button.button-login:hover::before {
  box-shadow: inset 0 0 0 10em #307750;
}


/* From Uiverse.io by satyamchaudharydev */ 
.spinner {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: -75px;
}

.spinner span {
  position: absolute;
  top: 50%;
  left: var(--left);
  width: 35px;
  height: 7px;
  background: #469b61;
  animation: dominos 1s ease infinite;
  box-shadow: 2px 2px 3px 0px #F1F5F2;
}

.spinner span:nth-child(1) {
  --left: 80px;
  animation-delay: 0.125s;
}

.spinner span:nth-child(2) {
  --left: 70px;
  animation-delay: 0.3s;
}

.spinner span:nth-child(3) {
  left: 60px;
  animation-delay: 0.425s;
}

.spinner span:nth-child(4) {
  animation-delay: 0.54s;
  left: 50px;
}

.spinner span:nth-child(5) {
  animation-delay: 0.665s;
  left: 40px;
}

.spinner span:nth-child(6) {
  animation-delay: 0.79s;
  left: 30px;
}

.spinner span:nth-child(7) {
  animation-delay: 0.915s;
  left: 20px;
}

.spinner span:nth-child(8) {
  left: 10px;
}

@keyframes dominos {
  50% {
    opacity: 0.7;
  }

  75% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  80% {
    opacity: 1;
  }
}

.btn-53,
.btn-53 *,
.btn-53 :after,
.btn-53 :before,
.btn-53:after,
.btn-53:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-53 {
  -webkit-tap-highlight-color: transparent;
  background-color: red;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin-bottom: 4px;
  padding: 0;
}

.btn-53:disabled {
  cursor: default;
}

.btn-53:-moz-focusring {
  outline: auto;
}

.btn-53 svg {
  display: flex;
  vertical-align: middle;
}

.btn-53 [hidden] {
  display: none;
}

.btn-53 {
  width: 45px;
  height: 45px;
  border-radius: 999px;
  box-sizing: border-box;
  display: flex;
  justify-items: center;
  font-weight: 900;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
}

.btn-53 .original {
  width: auto;
  height: 45px;
  background: #fff;
  color: #000;
  display: flex;
  inset: 0;
  position:absolute;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}

.btn-53:hover .original {
  transform: translateY(100%);
}

.btn-53 .letters {
  display: inline-flex;
}

.btn-53 span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.btn-53 span:nth-child(2n) {
  transform: translateY(15px);
}

.btn-53:hover span {
  opacity: 1;
  transform: translateY(0);
}

.btn-53:hover span:nth-child(2) {
  transition-delay: 0.1s;
}

.btn-53:hover span:nth-child(3) {
  transition-delay: 0.2s;
}

.btn-53:hover span:nth-child(4) {
  transition-delay: 0.3s;
}

.btn-53:hover span:nth-child(5) {
  transition-delay: 0.4s;
}

.btn-53:hover span:nth-child(6) {
  transition-delay: 0.5s;
}


.card {
  width: fit-content;
  height: fit-content;
  justify-self: center;
  margin: 15px;
  padding: 4px 10px;
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow:  4px 8px 10px -3px rgba(0, 0, 0, 0.356);
}

.units_card {
  max-width: 420px;
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.256);
  margin: 15px;
  padding: 4px 10px;
}

.card-student {
  max-width: max-content;
  border-radius: 10px;
  background-color: #707070;  
  padding:4px 8px;
 }

 textarea {
  border: none;
  outline: none;
  margin: 5px;
  width: 400px;
  max-height: 80px;
  color:#0a0a0a;
  border-radius: 15px;
  padding: 1em;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
}

/* From Uiverse.io by Li-Deheng */ 
.loader {
  display: flex;
  margin: 15px;
  justify-content: center;
  align-items: center;
  --color: hsl(37, 100%, 56%);
  --animation: 2s ease-in-out infinite;
}

.loader .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 15px;
  width: 20px;
  height: 20px;
  border: solid 2px var(--color);
  border-radius: 50%;
  margin: 0 10px;
  background-color: transparent;
  animation: circle-keys var(--animation);
}

.loader .circle .dot {
  position: absolute;
  transform: translate(-50%, -50%);
  margin: 5px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--color);
  animation: dot-keys var(--animation);
}

.loader .circle .outline {
  position: absolute;
  transform: translate(-50%, -50%);
  margin: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: outline-keys var(--animation);
}

.circle:nth-child(2) {
  animation-delay: 0.3s;
}

.circle:nth-child(3) {
  animation-delay: 0.6s;
}

.circle:nth-child(4) {
  animation-delay: 0.9s;
}

.circle:nth-child(5) {
  animation-delay: 1.2s;
}

.circle:nth-child(2) .dot {
  animation-delay: 0.3s;
}

.circle:nth-child(3) .dot {
  animation-delay: 0.6s;
}

.circle:nth-child(4) .dot {
  animation-delay: 0.9s;
}

.circle:nth-child(5) .dot {
  animation-delay: 1.2s;
}

.circle:nth-child(1) .outline {
  animation-delay: 0.9s;
}

.circle:nth-child(2) .outline {
  animation-delay: 1.2s;
}

.circle:nth-child(3) .outline {
  animation-delay: 1.5s;
}

.circle:nth-child(4) .outline {
  animation-delay: 1.8s;
}

.circle:nth-child(5) .outline {
  animation-delay: 2.1s;
}

@keyframes circle-keys {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes dot-keys {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes outline-keys {
  0% {
    transform: scale(0);
    outline: solid 20px var(--color);
    outline-offset: 0;
    opacity: 1;
  }

  100% {
    transform: scale(1);
    outline: solid 0 transparent;
    outline-offset: 20px;
    opacity: 0;
  }
}